.main-divs{
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    width: 100%;
    height: auto;
}

#projects-main-div{
    position: relative; 
    color: #232365; 
    height:auto; 
    margin-top: 3vmax ; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly; 
}