#about-text-container{
    position: absolute; 
    top: 2vmax; 
    left: 3%;
}

#about-text-container h2{
    font-size: 3vmax;
}

#about-text-container p{
    font-size: 1.4vmax;
}

#about-me{
    color: #232365;
}

#contact-me-div-container{
    background-color: white; 
    padding-top: 1vmax; 
    padding-left: 2vmax;
}
