.paralex{
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    width:100%;
    height:500px;
    display: flex;
    justify-content: center;
}

#showreel-paralex-page{
    background-image: url("../../public/images/showreel_Page_BG.jpg");
    position: relative;
    margin: 0;
    padding: 0;
}