body{
    margin: 0;
}
.page-title{
    margin: 0 auto;
    display: block;
    /*background-color: rgba(165,165,225,0.5);*/
    border: 1px solid white;
    position: absolute;
    top: 43%;
    width: 400px;
}

.page-title h1{
    text-align: center;
    color: white;
    margin: 10px;
    font-size: 70px;
}

.main-divs{
    background-color: rgb(170, 198, 255);
    border-bottom: 1px solid  rgb(170, 198, 255) ;
    border-top: 1px solid  rgb(170, 198, 255) ;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.main-divs img{
    display: block;
}

footer{
    background-color: rgb(170, 198, 255);
    padding: 30px 20px 10px 20px ;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-icons {
    font-size: 2vmax;
    width: 13%;
    text-align: center;
    text-decoration: none;
    margin: 1vmax 1vmax;
    border-radius: 50%;
    display: inline-block;
}

.fa-facebook {
color: #232365;
}
.fa-twitter {
color: #232365;
    }
.fa-linkedin {
color: #232365;
}
.fa-youtube {
color: #232365;
}
.fa-instagram {
color: #232365;
}

